@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute() class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	@Html.Section("head")
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/css/bootstrap.min.css"), "head")
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/css/normalize.min.css"), "head")
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/css/animate.min.css"), "head")
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/css/flickity.min.css"), "head")
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/css/styles.css"), "head")
</head>
<body>
	@Html.Section("top")
	<div class="container-fluid">
		<div class="row">
			<div class="header-nav-wrapper">
				<div class="logo">
					@Html.SfPlaceHolder("Logo")
				</div>
				<div class="primary-nav-wrapper">
					<nav>
						@Html.SfPlaceHolder("MainNavigation")
					</nav>
					<div class="secondary-nav-wrapper">
						@Html.SfPlaceHolder("SecondaryNav")
					</div>
					<div class="search-wrapper">
						<ul class="search">
							<li>
								@Html.SfPlaceHolder("Search")
							</li>
							<li>
								<a href="#" class="hide-search"><i class="fa fa-close"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="navicon">
					<a class="nav-toggle" href="#"><span></span></a>
				</div>
			</div>
		</div>
	</div>
	@Html.SfPlaceHolder("MainBody")

	<!-- SECTION: Get started -->
	<section class="get-started has-padding text-center" id="get-started">
		@Html.SfPlaceHolder("CallToAction")

	</section>
	<!-- END SECTION: Get started -->
	<!-- SECTION: Footer -->
	<footer class="has-padding footer-bg">
		@Html.SfPlaceHolder("Footer")
	</footer>
	<!-- END SECTION: Footer -->
	@if (SystemManager.IsDesignMode)
	{
		<script>
			var isDesignMode = true;
		</script>
	}
	else
	{
		<script>
			var isDesignMode = false;
		</script>
	}
	@* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
	@if (Html.ShouldRenderInlineEditing())
	{
		@Html.Script(ScriptRef.MicrosoftAjax, "top")
		@Html.Script(ScriptRef.MicrosoftAjaxCore, "top")
		@Html.Script(ScriptRef.JQuery, "top")
		@Html.Script(ScriptRef.JQueryUI, "top")
		@*@Html.Script(ScriptRef.KendoAll, "top")*@
		@Html.Script(ScriptRef.KendoTimezones, "top")
		@Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "top")
		@Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "top")

		<script>
			requirejs(['/ResourcePackages/HappyCodingThis/assets/dist/js/video-v5.4.6.min.js','https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js']);
		</script>
		@Html.InlineEditingManager(false)
		@Html.Section("bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/bootstrap.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/modernizr-2.8.3-respond-1.4.2.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/retina.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/jquery.waypoints.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/scripts.js"), "bottom")

	}
	else
	{
		@Html.Section("bottom")

		if (!SystemManager.IsDesignMode)
		{
			@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/jquery-1.11.2.min.js"), "bottom")
		}
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/jquery-ui-v1.11.0.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/video-v5.4.6.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/bootstrap.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/modernizr-2.8.3-respond-1.4.2.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/retina.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/jquery.waypoints.min.js"), "bottom")
		@Html.Script(Url.WidgetContent("~/ResourcePackages/HappyCodingThis/assets/dist/js/scripts.js"), "bottom")
		<script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
	}
</body>
</html>